.allFooter {
    background-color: #fff;
    padding: 40px 0;

    .footerHead {
        padding: 40px 0;

        .row {
            align-items: flex-start;
            justify-content: space-between;

            .footerLeft {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .footerHeadingTitle {
                    margin-bottom: 20px;
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    flex-direction: column;
                    gap: 5px;
                    text-align: left;

                    p {
                        font-family: 'Roboto Mono', monospace;
                        color: #000;
                        font-size: 16px;
                        font-weight: 300;
                        line-height: 30px;
                        letter-spacing: 0.4px;
                    }

                    a {
                        font-family: 'Roboto Mono', monospace;
                        font-size: 16px;
                        color: #000;
                        transition: .5s;

                        &:hover {
                            color: red;
                        }
                    }
                }
            }

            .footerCenter {
                display: flex;
                flex-direction: column;
                gap: 60px;

                .footerCenterHeading {
                    h3 {
                        font-size: 25px;
                        font-family: 'Crimson Text', serif;
                        letter-spacing: 1px;
                        color: #000;
                        margin-bottom: 20px;
                    }

                    ul {
                        li {
                            font-family: 'Amiri', serif;
                            text-align: left;
                            color: #000;
                            font-size: 14px;
                            font-weight: 300;
                            line-height: 26px;
                            letter-spacing: 0.5px;
                        }
                    }
                }
            }

            .footerRight {
                h3 {
                    text-align: left;
                    color: #000;
                    line-height: 1em;
                    letter-spacing: 1px;
                    font-size: 40px;
                }
            }
        }
    }

    .footerBody {
        ul {
            display: flex;
            align-items: center;
            justify-content: center;

            li {
                margin: 0 20px;

                a {
                    font-family: 'Roboto Mono', monospace;
                    font-size: 16px;
                    color: #000;
                    font-weight: 600;
                    transition: .5s;
                    &:hover{
                        color: red;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:992px) {
    .allFooter {
        .footerHead {
            .row {
                gap: 20px;
            }
        }
    }
}
@media only screen and (max-width:768px) {
    .allFooter {
        .footerHead {
            .row {
                gap: 20px;
            }
        }
        .footerBody {
            ul {
               flex-direction: column;
               align-items: flex-start;
               gap: 10px;

            }
        }
    }
}
@media only screen and (max-width:576px) {
    .allFooter {
        .footerHead {
            .row {
                gap: 20px;
                .footerRight {
                    h3 {
                        font-size: 30px;
                    }
                }
            }
        }
        .footerBody {
            ul {
               flex-direction: column;
               align-items: flex-start;
               gap: 10px;

            }
        }
    }
}