.trendingSection {
    background: url("../../../../media/schedule-bg.jpg") center/cover;
    min-height: 800px;
    padding: 60px 0;

    .row {
        align-items: flex-start;

        .trendingEvents {
            h1 {
                font-size: 40px;
                font-family: 'Crimson Text', serif;
                padding-bottom: 30px;
            }

            .eventsCart {
                margin: 15px 0;
                display: flex;
                align-items: flex-start;
                .cardLeft {
                    width: 27%;
                    h4 {
                        font-size: 20px;
                        letter-spacing: 1px;
                        color: #111;
                        font-family: 'Roboto Mono', monospace;
                        padding-bottom: 10px;
                    }

                    a {
                        text-decoration: underline;
                        font-size: 14px;
                        font-weight: 600;
                        font-family: 'Roboto Mono', monospace;
                        color: #363636;
                        letter-spacing: 1px;
                    }
                }

                .cardRight {
                    width: 73%;

                    h3 {
                        font-size: 25px;
                        font-family: 'Crimson Text', serif;
                        padding-bottom: 5px;
                    }
                    p{
                        line-height: 28px;
                        font-size: 16px;
                        color: gray;
                        letter-spacing: 1px;
                        font-family: 'Roboto Mono', monospace;

                    }
                }
            }
        }
    }
}
@media only screen and (max-width:992px) {
    .trendingSection {
    .row {
        .trendingEvents {
            h1 {
                font-size: 30px;
            }

            .eventsCart {
                .cardLeft {
                    h4 {
                        font-size: 18px;
                    }
                }

                .cardRight {
                    h3 {
                        font-size: 20px;
                    }
                    p{
                        line-height: 23px;
                        font-size: 14px;
                        }
                }
            }
        }
    }
}
}
@media only screen and (max-width:768px) {
    .trendingSection {
    .row {
        .trendingEvents {
            h1 {
                font-size: 30px;
            }

            .eventsCart {
                .cardLeft {
                    h4 {
                        font-size: 18px;
                    }
                }

                .cardRight {
                    h3 {
                        font-size: 20px;
                    }
                    p{
                        line-height: 23px;
                        font-size: 14px;
                        }
                }
            }
        }
        }
    }
}
@media only screen and (max-width:576px) {
    .trendingSection {
    .row {
        .trendingEvents {
            h1 {
                font-size: 30px;
            }

            .eventsCart {
                .cardLeft {
                    h4 {
                        font-size: 14px;
                    }
                }

                .cardRight {
                    h3 {
                        font-size: 20px;
                        height: 30px;
                        overflow: hidden;
                    }
                    p{
                        height: 70px;
                        overflow: hidden;
                        line-height: 23px;
                        font-size: 14px;
                        }
                }
            }
        }
    }
}
}