.swiperSlider {
    .swp2 {
        background: url("../../../media/swp-2.jpg") center/cover !important;
    }

    .swp3 {
        background: url("../../../media/swp-3.jpg") center/cover !important;
    }

    .swp-1 {
        background: url("../../../media/swp-1.jpg") center/cover;
       min-height: 480px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.66)
        }

        .row {
            height: 100%;
            justify-content: center;
            align-items: center;

            .swiperContent {
        padding: 20px 0;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                height: 50%;

                h3 {
                    font-size: 16px;
                    color: #fff;
                    margin-bottom: 10px;
                }

                h1 {
                    line-height: 70px;
                    font-size: 50px;
                    color: #fff;
                    margin-bottom: 10px;
                    text-transform: uppercase;
                }

                a {
                    margin-top: 10px;
                    text-transform: uppercase;
                    padding: 20px 40px;
                    font-size: 16px;
                    color: #fff;
                    border: 1px solid #ddd;
                }
            }
        }
    }
    .swiper-button-prev{
        color: #fff;
        position: absolute;
        &:before{
        position: relative;
            content: "Prev";
            left: 80px;
            font-size: 18px;
            
        }
    }
    .swiper-button-next{
        color: #fff;
        position: absolute;
        right: 30px;
        &::before{
            content:"Next";
            position: relative;
            right: 20px;
            font-size: 18px;
        }
    }
}
@media only screen and (max-width:1200px) {
    .swiperSlider {   
        .swp-1 {
        
            .row {
                .swiperContent {
         
                    h1 {
                        font-size: 30px;
                        line-height: 50px;
                    }
    
                }
            }
        }
    }

}
@media only screen and (max-width:992px) {
    .swiperSlider {   
        .swp-1 {
            min-height: 380px;
            .row {
                .swiperContent {

                    h1 {
                        font-size: 30px;
                        line-height: 50px;
                    }
    
                }

            }
        }
        .swiper-button-prev{
          top: 80px;
        }
        .swiper-button-next{
            position: absolute;
            top: 80px;
            
        }
    }

}
@media only screen and (max-width:768px) {
    .swiperSlider {   
        .swp-1 {
            .row {
                .swiperContent {
                    h1 {
                        font-size: 25px;
                        line-height: 45px;
                    }
                }
            }
        }
        .swiper-button-prev{
          top: 50px;
        }
        .swiper-button-next{
            position: absolute;
            top: 50px;   
        }
    }
}
@media only screen and (max-width:576px) {
    .swiperSlider {   
        .swp-1 {
            .row {
                .swiperContent {
                    h1 {
                        font-size: 20px;
                        line-height: 35px;
                    }
                }
            }
        }
        .swiper-button-prev{
          display: none;
        }
        .swiper-button-next{
           display: none; 
        }
    }
}