.galeryDetail {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;

    .row {
        justify-content: center;

        .content {
            text-align: center;
            h4 {
                font-size: 20px;
                font-family: 'Roboto Mono', monospace;
                color: #000;
            }

            h1 {
                margin: 20px 0;
                font-size: 40px;
                font-family: 'Crimson Text', serif;
                color: #000;
            }

            p {
                font-size: 20px;
                color: #000;
                font-family: 'Amiri', serif;
            }
        }
    }
}