.newsLetterSection {
    padding: 80px 0 40px 0;

    .newsLetterBackground {
        background: url("../../../media/block6_bg.jpg") center/cover;
        min-height: 300px;
        display: flex;
        align-items: center;
        border-radius: 6px;
        justify-content: center;

        .row {
            justify-content: center;

            .newsLetterContent {
                display: flex;
                align-items: center;
                justify-content: space-between;

                h3 {
                    font-family: 'Crimson Text', serif;
                    text-align: center;
                    font-size: 35px;
                    letter-spacing: 1px;
                    color: #fff;
                }

                a {
                    padding: 10px 50px;
                    font-size: 20px;
                    color: #fff;
                    font-family: 'Amiri', serif;
                    text-align: center;
                    border: 2px solid #fff;
                    line-height: 30px;
                    text-transform: capitalize;
                }
            }
        }
    }
}

@media only screen and (max-width:992px) {
    .newsLetterSection {
    
        .newsLetterBackground {
            .row {
                .newsLetterContent {
                    flex-direction: column;
                    gap: 30px;
                    a {
                        padding: 10px 40px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:768px) {
    .newsLetterSection {
    
        .newsLetterBackground {
            border-radius: 0;
            .row {
                .newsLetterContent {
                    flex-direction: column;
                    gap: 30px;
                    h3{
                        font-size: 28px;
                    }
                    a {
                        padding: 10px 40px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:576px) {
    .newsLetterSection {
        .newsLetterBackground {
            border-radius: 0;
            .row {
                .newsLetterContent {
                    flex-direction: column;
                    gap: 30px;
                    h3{
                        font-size: 28px;
                    }
                    a {
                        padding: 10px 40px;
                    }
                }
            }
        }
    }
}